$itemSize: 1000/50+px;
body {
  background: #222;
}
#root{
  margin: 0 auto; 
  background: #222;
  text-align: center;
  height: 100vh;
}
.mainDiv{
  display:flex;
  flex-flow: row wrap;
  width: 1000px;
  margin: 0 auto;
}
.death{
  background: black;
  width: $itemSize;
  height: $itemSize;
  border: 1px solid rgba(255,255,255,0.2);
}

.alive{
  @extend .death;
  background: white;
  border: 1px solid rgba(0,0,0,0.2);
}